@mixin no-border {
    border: none;
}

  @mixin size-txt-primary {
    font-size: 16px;
}

@mixin color-txt {
    color: white;
}

@mixin no-decoration {
    text-decoration: none;
}

@mixin bttn-gradient {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

@mixin i-footer {
    font-size: 11px;
    padding-right: 5px;
}

@mixin box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#restaurants {
    .logo-header {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 2rem;
    }
    
    .picto-return {
        position: absolute;
        top: 40px;
        left: 15px;
    }

    .img-background img {
        width: 100%;
    }
    
    .menu-restaurant {
        position: relative;
        background-color: #F6F6F6;
        border-radius: 20px 20px 0px 0px;
        padding: 1rem;
    }
    .title-section {
        position: relative;
    }

    h1 {
        font-family: Shrikhand;
        font-size: 28px;
    }
    
    .icone-heart {
        position: absolute;
        left: 320px;
        top: 5px;
        font-size: 26px;
      
        &:hover {
          .fa-regular.fa-heart {
            display: none;
          }
          .fa-solid.fa-heart {
            display: block;
          }
        }
      }
      
    .fa-regular.fa-heart {
        display: block;
      }
      
    .fa-solid.fa-heart {
        display: none;
        background: linear-gradient(180deg,rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    
    
    h2 {
        font-size: 16px;
        font-weight: 200;

        &::after{
            content: "";
            background-color: #99E2D0;
            width: 50px;
            height: 2px;
            display: block;
            margin-top: 0.3rem;
        }
    }
    
    .menu-content {
        position: relative;
        background-color: white;
        border-radius: 20px;
        padding: 1rem;
        margin-bottom: 1rem;
        font-weight: 100;
        h3 {
            font-size: 18px;
            margin: 0;
            font-weight: 600;
        }
        p {
            font-size: 15px;
            margin: 0;
            margin-top: 3px;
        }
        .price {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
    
    .price {
        font-weight: 600;
    }
    
    .btn-command {
        display: flex;
        justify-content: center;
        margin: 3rem;
    }

    .button-command {
        @include size-txt-primary;
        @include no-border;
        @include color-txt;
        @include bttn-gradient;
        border-radius: 40px;
        padding: 1rem 2rem;
        @include box-shadow;
    }
    
    footer {
        background-color: #353535;
        padding: 2rem 1rem 1rem 1rem;
        img {
          height: 18px;
          filter: invert(1);
        }
    }
      
    .footer-txt {
        @include size-txt-primary;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                margin-bottom: 5px;
                a {
                    @include color-txt;
                    @include no-decoration;
                    i {
                        @include i-footer;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: 768px) {
    

    .img-background img {
        height: 400px;
        object-fit: cover;
    }

    .menu-restaurant {
        margin-left: 7rem;
        margin-right: 7rem;
        padding-right: 8rem;
        padding-left: 8rem;
    }

    .title-section {
        h1 {
            position: relative;
            left: 150px;
        }
        .icone-heart {
            left: 450px;
        }
    }
}

}
