.logo-header {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2rem;
}

.picto-return {
  position: absolute;
  top: 40px;
  left: 15px;
}

h1 {
  padding: 1rem;
  font-family: Shrikhand;
  position: relative;
  font-size: 28px;
}

.icone-heart {
  position: absolute;
  left: 320px;
  top: 100px;
}
.icone-heart:hover .fa-regular.fa-heart {
  display: none;
}
.icone-heart:hover .fa-solid.fa-heart {
  display: block;
}

.fa-regular.fa-heart {
  display: block;
}

.fa-solid.fa-heart {
  display: none;
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 16px;
  font-weight: 200;
}

.menu-content {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}
.menu-content h3 {
  font-size: 18px;
  margin: 0;
}
.menu-content p {
  font-size: 15px;
  margin: 0;
  margin-top: 3px;
  font-weight: 200;
}

.price {
  position: absolute;
  right: 30px;
  top: 220px;
  font-weight: 600;
}

.button-command {
  font-size: 16px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 40px;
  padding: 1rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

footer {
  background-color: #353535;
  padding: 2rem 1rem 1rem 1rem;
}
footer img {
  height: 18px;
  filter: invert(1);
}

.footer-txt {
  font-size: 16px;
}
.footer-txt ul {
  list-style-type: none;
  padding: 0;
}
.footer-txt ul li {
  margin-bottom: 5px;
}
.footer-txt ul li a {
  color: white;
  text-decoration: none;
}
.footer-txt ul li a i {
  font-size: 11px;
  padding-right: 5px;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
}

header {
  text-align: center;
}
header .logo {
  margin: 1rem;
}

.location {
  background-color: #EAEAEA;
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}
.location .search-bar {
  border: none;
  margin: 1rem;
  background-color: #EAEAEA;
  font-size: 16px;
}
.location .search-bar .i {
  color: #353535;
}

input::placeholder {
  color: #353535;
}

.title {
  background-color: #F6F6F6;
  text-align: center;
  padding: 2rem 3rem 3rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px inset;
}
.title .h1 {
  font-size: 24px;
}

.title p {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 2rem;
}

.button-explore {
  font-size: 16px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 40px;
  padding: 1rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.functioning {
  margin: 4rem 1rem;
}
.functioning .h2 {
  font-size: 24px;
}

.fonctioning-card {
  background-color: #EAEAEA;
  border-radius: 20px;
  margin: 1rem 2rem 1rem 1rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.picto {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356DC;
  padding: 2px 6px;
  font-size: 14px;
  color: white;
  border-radius: 50%;
}

.picto-txt i {
  position: relative;
  left: 40px;
  top: 20px;
  font-size: 20px;
  color: #7E7E7E;
}

.picto-txt h3 {
  text-align: center;
  font-size: 16px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 3rem 2rem 4rem 1rem;
}
.restaurants h2 {
  font-size: 24px;
}

.restaurants-card a {
  position: relative;
  text-decoration: none;
}
.restaurants-card a .card {
  width: 100%;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 20px;
}
.restaurants-card a .card img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.new-restaurants {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  padding: 5px 10px;
  color: #008766;
  font-size: 14px;
  border-radius: 2px;
}

.card-content {
  height: 70px;
}

.card-txt {
  color: black;
  height: 60px;
}
.card-txt h3 {
  margin: 1rem 1rem 0rem 1rem;
  font-size: 18px;
}
.card-txt p {
  margin: 0rem 1rem 1rem;
  padding-top: 5px;
  font-size: 17px;
  font-weight: lighter;
}

.icone-love {
  position: relative;
  left: 85%;
  bottom: 50px;
  font-size: 26px;
  color: black;
}
.icone-love:hover .fa-regular.fa-heart {
  display: none;
}
.icone-love:hover .fa-solid.fa-heart {
  display: block;
}

.fa-regular.fa-heart {
  display: block;
}

.fa-solid.fa-heart {
  display: none;
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #353535;
  padding: 2rem 1rem 1rem 1rem;
}
footer img {
  height: 18px;
  filter: invert(1);
}

.footer-txt {
  font-size: 16px;
}
.footer-txt ul {
  list-style-type: none;
  padding: 0;
}
.footer-txt ul li {
  margin-bottom: 5px;
}
.footer-txt ul li a {
  color: white;
  text-decoration: none;
}
.footer-txt ul li a i {
  font-size: 11px;
  padding-right: 5px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
  .picto-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
  }
  .picto-txt h3 {
    padding-top: 0;
  }
  .picto-txt i {
    left: 0;
    top: 0;
  }
  .functioning-list {
    display: flex;
  }
  .fonctioning-card {
    width: 30%;
  }
  .restaurants-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants-card a {
    display: block;
    width: 45%;
    margin-bottom: 2rem;
  }
  .restaurants-card a img {
    object-fit: cover;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
  footer .logo-footer {
    display: flex;
    align-items: center;
  }
  footer ul {
    display: flex;
    gap: 40px;
  }
  footer ul .links {
    display: flex;
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
